<header>
    <nav class="navbar navbar-default navbar-static-top navbackground col-xs-12 navbarmyapp" role="navigation" >
	
 
        <ul class = "nav logo-navbar-nav col-xs-12">
           <li class="col-xs-4">
              <a>
                  <span><img src="upgradeApp/dist/assets/icons/brand.svg" alt="Deloitte" width="135" height="20"/></span>
              </a>
           </li>
           
          
          <li class="col-xs-4 tool-logo text-center padding-top-5">
              <span><img src="upgradeApp/dist/assets/icons/toolLogo.png" alt="Uplgrade Analyzer "/></span>
          </li>
          <li class="col-xs-4 pull-right client-section">
              <a><div class="pull-right">Hi , Client Name !!</div></a>
          </li>
          
          
        </ul> 
    </nav>
</header>