<div class="view-wrapper col-xs-12 s4-container">
	<ua-tiles [tileFileName] = "tileFileName"></ua-tiles>
	<div class="graph-label-container col-xs-12">
		<div class="col-xs-6">
			<b>Custom Inventory Breakup</b>
		</div>
		<div class="col-xs-6">
			<b>Custom Developments - Object Breakup</b>
		</div>
	</div>
	<div class="inventory-graph-container col-xs-12">
		<ua-interactive-chart [filePrefixSuffix]="filePrefixSuffix" [keyName]="keyName" (selectedSectionName)="fetchTable($event)" [isInteractive]="isInteractive" [view1]="view1" [view2]="view2" ></ua-interactive-chart>
	</div>
	<div class="col-xs-3 pull-right text-right margin-15">
				<a class="btn btn-primary" (click)="showTable = !showTable">Show/Hide Total Data</a>
			</div>
	<div class="col-xs-12" *ngIf="showTable">
		<ua-table  [fileName] = "tableFileName"></ua-table>
	</div>
</div>